/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* Menu responsivo */
    .material-symbols-rounded {
        display: none;
    }

    .Menus {
        display: flex;
    }

    .Menu-Titulo {
        display: block;
    }

     /* Menu */

.Menu-Superior {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    top: 0;
    font-size: 0.6em;
    }

.Menus {
    display: flex;
    justify-content: center;
    font-size: 2em ;
}

.Menus > li > a{
    padding: 0;
}

/* parte 1 */

#parte1 {
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.p1-texto {
    text-align: center;
}

.p1-texto > h2{
    font-size: 2em;
}

/* parte 2 */

.about-foundry{
    height: 570px;
}

.descrição{
    height: 510px;
}

/* parte 4 */

.disclaimer{
    width: 650px;
}

/*===== pagina: Sobre o Foundry =====*/

.videos{
    width: 768px;
}

.boxVideo iframe {
    width: 400px;
    height: 224px;
}

/*===== pagina: Mundo =====*/

.sectionMundo{
    width: 768px;
}

/*===== pagina: Regras =====*/

.sectionRegras{
    width: 768px;
}

/*===== pagina: Contato =====*/

.sectionContato{
    width: 768px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* Corpo */

    main > section{
        padding-top: 0vh;
    }

    /* Menu */
    
    .Menu-Superior {
        font-size: 0,6em;
        }
    
        .Menus {
            gap: 1.2em;
            font-size: 2.5em;
        }
    
        .Menu-Titulo{
            padding-left: 1em;
            letter-spacing: 0.2em;
            font-size: 3em;
            
        }
    

    /* parte 1 */

    #parte1{
        align-items: center;
        display: flex;
        justify-content: center;
        top: 0;
    }

    #parte1 > aside{
        margin: auto;
    }

    .p1-texto{
        text-align: left;
        top: 0;
        align-items: center;
    }
    
    .p1-texto > h2{
        line-height: 0.2em;
        font-size: 1.7em;
    }
    
    .p1-texto > p{
        font-size: 1.2em;
    }

    /*Configuração da imagem section 1*/

    .p1-imagem {
        display: block;
    }
    

    .p1-imagem > img{
        width: 30em;
        margin: auto 1em;
        border-radius: 50%;
        display: flex;
        justify-content: right;
    }

    /* parte 2 */

.about-foundry{
    width: 400px;
    height: 515px;
}

.descrição{
    width: 370px;
}

    

    /* parte 4 */

.disclaimer{
    width: 890px;
}
    
  /*===== pagina: Sobre o Foundry =====*/

.boxVideo iframe {
    width: 400px;
    height: 224px;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
/* menu */

.Menu-Superior {
    font-size: 0,9em;

    }

    .Menus {
        gap: 1.2em;
        font-size: 2.5em;
    }

    .Menu-Titulo{
        padding-left: 1em;
        letter-spacing: 0.2em;
        font-size: 3em;
        
    }

    /* Parte 1 */

    .p1-texto > h2{
        line-height: 2px;
        font-size: 3em;
    }
    
    .p1-texto > p{
        font-size: 1.2em;
    }
    
    /*Configuração da imagem section 1*/

    .p1-imagem > img{
        width: 40em;
    }

    /*===== pagina: Sobre o Foundry =====*/

    .boxVideo iframe {
        width: 560px;
        height: 315px;
    }
    
}