section{
    background-color: white;
    border-radius: 5px;
    width: 80%;
    margin: 7em auto 1em auto;
    text-align: center;
    padding: 0.3em;
    box-shadow: 1px 1px 1px #da61ff7c;
}

/* Mundo */

.sectionMundo{
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
}

.div1{
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin: 1em auto;
    text-align: center;
    padding: 0.3em;
    box-shadow: 1px 1px 1px #da61ff7c;


}

.div1 > p{
    text-align: left;
    text-indent: 1.5em;
    font-size: 1.1em;
    padding: 0em 0.3em 0em 0.3em;

}

.div1 > picture {
    width: 40%;
    border-radius: 1em;
}

.div1 > picture > img{
    width: 40%;
    border-radius: 1em;
}

/*config lista*/

section > ol {
    text-align: left;
    font-size: 1.1em;
}

/*Sobre o Foundry/
/*Video responsivo*/


.boxVideo {
    position: relative;
    margin:0 auto;
    text-align: center;
}
.boxVideo iframe {
    width: 250px;
    height: 150px;
}

/*imagem ganso da aba contato*/

.discganso{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.discgansolink{
    text-align: center;
    padding-left: 0;
}