@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Varela+Round&display=swap');


*{
    font-family:  'Lato', sans-serif;;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #1D1D1D;
}

/*Cabeçalho e Menu superior*/

.Menu-Superior{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6vw;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    z-index: 5;
}

.Menus {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-right: 30px;
    gap: 1.2em;
    font-size: 1.5em;
}

.Menu-Titulo{
    text-transform: uppercase;
    margin: center;
    padding-left: 1em;
    letter-spacing: 0.2em;
    font-family:  'Varela Round', sans-serif;
    color: #B73DDB;
    
}

.Menu-Titulo::after {
    content: "|";
    margin-left: 0.1em;
    animation: blink .7s infinite;
}

/*Animação barra piscando | */

@keyframes blink {
     0% , 100% {
        opacity: 1;
    }

     50% {
        opacity: 0;
    }
}

.Menus > li > a {
    text-decoration: none;
}

.Menus > li > a{
    color: inherit;
    position: relative;
    transform: 2ms ease-in;
    color: white;
    transition: color 1.5s;
}

/*Animação do menu superior*/

.Menus > li > a:hover{
    color: #f8e2ff;
}

.Menus > li > a::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: #B73DDB;
    transition: all 1.5s ease;
}

.Menus > li > a:hover::before{
    width: 100%;
}

/*Corpo*/
/*Config padrão das sections*/
main > section {
    min-height: 100vh;
    padding-top: 15vh;
}

/*Configuração da section parte 1*/
#parte1{
    background: rgba(0, 0, 0, 0.9) url('midia/background/fundo-ganso.jpg');
    background-blend-mode: darken;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.p1-texto{
    text-align: left;
    top: 0;
}

.p1-texto > h2{
    line-height: 2px;
    font-size: 3em;
}

.p1-texto > p{
    font-size: 1.2em;
}

.botão {
    background-color: transparent;
    border: 2px solid #B73DDB;
    color: #DA61FF;
    display: inline-block;
    margin: 50px auto;
    border-radius: 35px;
    vertical-align: middle;
    height: 30px;
    padding: 30px 64px;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif ;
    font-size: 2em;
    font-weight: bolder;
    position: relative;
    z-index: 1;
}

/*Animação do botão "venha conferir" da section 1*/

.botão::before{
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 90px;
    border-radius: 35px;
    background-color: #b63ddb42;
    z-index: -1;
    transition: 1s ease-out;
}

.botão:hover::before{
    width: 100%;
}

/*Configuração da imagem section 1*/

.p1-imagem > img{
    width: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: right;
    animation-name: zoomOut;
    animation-duration: 1s;
}

.p1-imagem > img:hover{
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

/*Animação de zoom da imagem section 1*/

@keyframes zoomIn{
    from{
        border-radius: 50%;
    }

    to{
        border-radius: 0%;
        transform: scale(1.4);
    }
}

@keyframes zoomOut{
    from{
        border-radius: 0%;
        transform: scale(1.4);
    }
}

    to{
        border-radius: 50%;
    }


/*Destaque no texto com span*/
.Destaque {
    color: #B73DDB;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
}

/*Configuração da section parte 2*/

#parte2{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), #1D1D1D, #1D1D1D);
    display: flex;
    font-size: 1.3em;
    flex-flow: row wrap;
    margin: 0 auto;
    
}

.about-foundry{
    background-color: white;
    width: 30%;
    height: 500px;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 1px 1px 1px #da61ff7c;
    text-shadow: 1px 1px 1px #b63ddb67;
    margin: 0 auto;

}

.about-foundry > img{
    width: 300px;
}

.obs{
    font-style: italic;
    font-size: 0.7em;
}

.descrição{
    background-color: white;
    margin-left: 19px;
    padding: 10px;
    width: 30%;
    height: 330px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px #da61ff7c;
    margin-right: 215px;
}

.descrição > h2{
    text-align: center;
}

.descrição > p{
    text-indent: 1em;
}

.descrição > ul{
    list-style: none;
    text-align: left;
}

.descrição > ul > li {
    padding-top: 5px;
}

/*Edit botão Conheça o Foundry VTT Section 2*/

#parte2 > .descrição > .botão {
    font-size: 1.1em;
    margin-left: 10px;
    margin-top: 40px;
}

/*Configuração da Section parte 3*/

#parte3{
    background-color: #1D1D1D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#parte3 > aside{
    background-color: white;
    border-radius: 25px;
    text-align: center;
    width: 30%;
    margin: 0 30px;
    box-shadow: 1px 1px 1px #da61ff7c;
}

#parte3 > aside > .destaque{
    font-style: italic;
    font-size: 0.8em;
}

/*Config caixa parte 3*/

.altanimação{
    height: 345px;
}

.altrolagem{
    height: 495px;
}

.altficha{
    height: 445px;
}

/*Config imagem parte 3*/

.imganimação{
    width: 90%;
    border-radius: 15px;
}

.imgrolagem{
    width: 90%;
    border-radius: 15px;
}

.imgficha{
    width: 90%;
    border-radius: 15px;
}

/*Animação zoom imagem parte 3*/

.imganimação:hover{
    animation-name: zoomIn2;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.imgficha:hover{
    animation-name: zoomIn2;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.imgrolagem:hover{
    animation-name: zoomIn2;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes zoomIn2 {
    from{

    }

    to{
        transform: scale(1.3);
    }
}

/*Configuração da parte 4*/

#parte4{
    background-color: #1D1D1D;
    text-align: center;
}

#parte4 > div{
    background-color: white;
    border-radius: 25px;
    width: 36%;
    margin: auto;
    padding: 1px;
    box-shadow: 1px 1px 1px #da61ff7c;
}

#parte4 > aside{
    background-color: white;
    border-radius: 25px;
    width: 90%;
    padding: 20px;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    box-shadow: 1px 1px 1px #da61ff7c;
}

.livros > a > img{
    width: 80%; 
}

.livros > a > source {
    width: 80%;
}

/*Configuração do Footer*/

footer{
    background-color: white;
    text-align: center;
    padding: 8px;
    width: 90%;
    border-radius: 15px;
    margin: auto;
    box-shadow: 1px 1px 1px #da61ff7c;
}

footer > p{
    margin: 8px 0;
}

/*Botão de Scroll UP*/

.Voltar > img{
    width: 48px;
    height: 48px;
}

.Voltar{
    position: fixed;
    bottom: 40px;
    right: 50px;
    width: 48px;
    height: 48px;
    opacity: 0.6;
    border-radius: 50%;
    background-color: transparent;
    transition: 1s ease;
}

.Voltar:hover{
    opacity: 1;
    background-color: #b63ddb71 ;
}
